.images {
  display: grid;
  grid-template: auto 100px / 1fr 1fr;
  gap: 60px;
  justify-items: center;
  margin: 100px 0;

  &__group4x4 {
    display: grid;
    grid-template: repeat(4, 200px) / repeat(4, 200px) ;
    justify-items: center;
  }
  &__group2x2 {
    display: grid;
    grid-template: repeat(2, 200px) / repeat(2, 200px) ;
    justify-items: center;
  }
  &__group1x1 {
    display: grid;
    grid-template: 200px / 200px ;
    justify-items: center;
  }
  &__group3x1 {
    display: grid;
    grid-template:  200px / repeat(3, 150px) ;
    justify-items: center;
  }
  &__group2x1 {
    display: grid;
    grid-template:  200px / repeat(2, 250px) ;
    justify-items: center;
  }
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  &-green {
    background-color: green;
  }
  &-red {
    background-color: red;
  }
}

p {
  text-align: start;
}

.padding-top-50 {
  margin-top: 50px;
}